# Next.js Public Environment Variables
NEXT_PUBLIC_API_URL=http://localhost:5000/api
NEXT_PUBLIC_WS_URL=http://localhost:5000

# Supabase Client configuration
NEXT_PUBLIC_SUPABASE_URL="https://[YOUR_SUPABASE_PROJECT].supabase.co"
NEXT_PUBLIC_SUPABASE_ANON_KEY="your-supabase-anon-key"
